[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "prevederer"]
	path = prevederer
	url = https://github.com/wkdavis/prevederer
	shallow = true
	registered = true
